.hoverTile:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
    border:1px solid rgba(235, 147, 222, 0.678)
}

 .boldText {
        font-size: 1.2rem;
        font-weight: bold;
    }

    